In [1]:
import pandas as pd
import mysql.connector
!pip install pymysql
import sqlalchemy
from sqlalchemy import create_engine
import getpass

Requirement already satisfied: pymysql in c:\users\ruoxi\anaconda3\lib\site-packages (1.1.0)

In [2]:
#import requests

# def check_for_update():
#     installed_version = sqlalchemy.__version__
#     response = requests.get('https://pypi.org/pypi/sqlalchemy/json')
#     latest_version = response.json()['info']['version']
    
#     if installed_version != latest_version:
#         print("A new version of SQLAlchemy is available. You have version", installed_version, "and the latest version is", latest_version)
#     else:
#         print("You have the latest version of SQLAlchemy installed.")

# check_for_update()

In [3]:
#pip install --upgrade sqlalchemy

In [4]:
data= pd.read_csv('europe_offers_01.csv')
data.head()

,Make,Model,Trim,Year,Mileage(km),kW,Fuel type,Body type,Color,Transmission,Emission standard,Country,City,Price(EUR)
0,Volkswagen,Sharan,2.0 tdi,2013,182000,104.0,Diesel,Van,Gray,Manual,5,Austria,Braunau Am Inn,15499.0
1,Audi,A6,2.7,2009,250000,141.0,Diesel,Sedan,Silver,Manual,5,Austria,Salzburg,8900.0
2,Porsche,Cayenne,3.0 diesel,2011,256000,182.0,Diesel,Suv,Black,Automatic,5,Austria,Braunau Am Inn,25999.0
3,Volkswagen,Passat,2.0 tdi scr,2019,94187,111.0,Diesel,Wagon,Silver,Manual,6,Austria,Wolfsberg,18790.0
4,Volkswagen,Passat,2.0 tdi scr,2019,77167,111.0,Diesel,Wagon,Black,Automatic,6,Austria,Wels,18990.0

In [5]:
data.shape

(3279, 14)

In [6]:
password = getpass.getpass()

In [7]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user = 'root', pw= password, db = 'used_cars_europe'))

In [8]:
# Insert whole DataFrame into MySQL
data.to_sql('car_prices', con=engine, if_exists = 'append', chunksize = 1000)

3279

In [9]:
engine.dispose()