In [1]:
import pandas as pd
import mysql.connector
!pip install pymysql
import sqlalchemy
from sqlalchemy import create_engine
import getpass

Requirement already satisfied: pymysql in c:\users\ruoxi\anaconda3\lib\site-packages (1.1.0)

In [2]:
data= pd.read_csv('sentiment_analysis_process.csv')
data.head()

,Comments,Make,demojized,tokenized,lemmatized,no_stopwords,clean_blob
0,I spoke with Abarth Spain & Germany. Both told...,Abarth,I spoke with Abarth Spain & Germany. Both told...,"['i', 'spoke', 'with', 'abarth', 'spain', 'ger...","['i', 'spoke', 'with', 'abarth', 'spain', 'ger...","['spoke', 'told', 'interest', 'recommend', 'ab...",spoke told interest recommend abarth reason th...
1,The smaller the car the bigger the dick. üòè,Abarth,The smaller the car the bigger the dick. :smir...,"['the', 'smaller', 'the', 'car', 'the', 'bigge...","['the', 'small', 'the', 'car', 'the', 'big', '...","['big', 'small', 'dick', 'car']",big small dick car
2,"I've been looking at this too, it seems the ki...",Abarth,"I've been looking at this too, it seems the ki...","['i', 'been', 'looking', 'at', 'this', 'too', ...","['i', 'be', 'look', 'at', 'this', 'too', 'it',...","['avoid', 'cut', 'response', 'ramair', 'prone'...",avoid cut response ramair prone airtec kit whi...
3,Mine is Celeste blue as well.,Abarth,Mine is Celeste blue as well.,"['mine', 'is', 'celeste', 'blue', 'as', 'well']","['mine', 'be', 'celeste', 'blue', 'a', 'well']","['blue', 'celeste']",blue celeste
4,Katskinz is a really nice recover. Not just fa...,Abarth,Katskinz is a really nice recover. Not just fa...,"['katskinz', 'is', 'a', 'really', 'nice', 'rec...","['katskinz', 'be', 'a', 'really', 'nice', 'rec...","['fabric', 'seat', 'katskinz', 'nice', 'recover']",fabric seat katskinz nice recover

In [3]:
data.shape

(125562, 7)

In [4]:
password = getpass.getpass()

In [5]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user = 'root', pw= password, db = 'used_cars_europe'))

In [6]:
# Insert whole DataFrame into MySQL
data.to_sql('car_comments_process', con=engine, if_exists = 'append', chunksize = 1000)

125562

In [7]:
engine.dispose()