In [1]:
import pandas as pd
import mysql.connector
!pip install pymysql
import sqlalchemy
from sqlalchemy import create_engine
import getpass

Requirement already satisfied: pymysql in c:\users\ruoxi\anaconda3\lib\site-packages (1.1.0)

In [2]:
data= pd.read_csv('europe_offers_03.csv')
data.head()

,Make,Model,Trim,Year,Mileage(km),kW,Fuel type,Body type,Color,Transmission,Emission standard,Country,City,Price(EUR)
0,Audi,A8,3.0 55 tfsi quattro,2018,114500,253.0,Petrol,Sedan,Black,Automatic,6,Austria,Bruck An Der Mur,52490.0
1,Volkswagen,Taigo,1.0 tsi,2023,22000,82.0,Petrol,Crossover,Black,Automatic,6,Austria,Bruck An Der Mur,27990.0
2,Mazda,Cx-60,3.3,2023,16500,149.0,Hybrid,Suv,Blue,Automatic,6,Austria,Wels,49980.0
3,Mercedes Benz,E-Class,430,2016,174620,101.0,Diesel,Wagon,Gray,Automatic,6,Austria,Bruck An Der Mur,19990.0
4,Ford,Mustang,5.0,2020,25800,335.0,Petrol,Coupe,Red,Automatic,6,Austria,Salzburg,56890.0

In [3]:
data.shape

(3854, 14)

In [4]:
password = getpass.getpass()

In [5]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user = 'root', pw= password, db = 'used_cars_europe'))

In [6]:
# Insert whole DataFrame into MySQL
data.to_sql('car_prices', con=engine, if_exists = 'append', chunksize = 1000)

3854

In [7]:
engine.dispose()

In [8]:
data['Make'].unique()

array(['Audi', 'Volkswagen', 'Mazda', 'Mercedes Benz', 'Ford',
       'Alfa Romeo', 'Lexus', 'Mclaren', 'Opel', 'Land Rover', 'Bmw',
       'Porsche', 'Hyundai', 'Å koda', 'Jeep', 'Honda', 'Dacia',
       'Aston Martin', 'Volvo', 'Maserati', 'Fiat', 'Seat', 'Bentley',
       'Peugeot', 'Toyota', 'Nissan', 'Suzuki', 'Citroen', 'Mitsubishi',
       'Jaguar', 'Renault', 'Kia', 'Cupra', 'Byd', 'Ds Automobiles',
       'Mini', 'Saic', 'Tesla', 'Subaru', 'Lancia', 'Chevrolet',
       'Ferrari', 'Ssangyong', 'Abarth', 'Hummer', 'Dr', 'Saab',
       'Chrysler', 'Lamborghini', 'Dodge', 'Isuzu', 'Seres', 'Alpina',
       'Infiniti', 'Smart', 'Cadillac', 'Ineos', 'Karma'], dtype=object)

In [9]:
len(data['Make'].unique())

58