In [1]:
import pandas as pd
import mysql.connector
!pip install pymysql
import sqlalchemy
from sqlalchemy import create_engine
import getpass

Requirement already satisfied: pymysql in c:\users\ruoxi\anaconda3\lib\site-packages (1.1.0)

In [2]:
data= pd.read_csv('europe_offers_02.csv')
data.head()

,Make,Model,Trim,Year,Mileage(km),kW,Fuel type,Body type,Color,Transmission,Emission standard,Country,City,Price(EUR)
0,Ford,Mustang,5.0,2020,25800,335.0,Petrol,Coupe,Red,Automatic,6,Austria,Salzburg,56890.0
1,Alfa Romeo,Tonale,1.3,2024,10,208.0,Hybrid,Crossover,Red,Automatic,6,Austria,Amstetten,59940.0
2,Audi,Q5,2.0 40 tdi quattro,2023,12600,152.0,Diesel,Suv,Black,Automatic,6,Austria,Eisenstadt,74900.0
3,Mitsubishi,Pajero,3.2 did,2013,149900,149.0,Diesel,Suv,White,Automatic,5,Austria,Stockerau,24990.0
4,Lexus,Nx,300h,2021,27726,146.0,Petrol,Suv,Black,Automatic,6,Austria,Enns,40500.0

In [3]:
data.shape

(3117, 14)

In [4]:
password = getpass.getpass()

In [5]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user = 'root', pw= password, db = 'used_cars_europe'))

In [6]:
# Insert whole DataFrame into MySQL
data.to_sql('car_prices', con=engine, if_exists = 'append', chunksize = 1000)

3117

In [7]:
engine.dispose()

In [8]:
data['Make'].unique()

array(['Ford', 'Alfa Romeo', 'Audi', 'Mitsubishi', 'Lexus', 'Opel',
       'Mercedes Benz', 'Land Rover', 'Volkswagen', 'Bmw', 'Porsche',
       'Honda', 'Dacia', 'Hyundai', 'Volvo', 'Å koda', 'Maserati', 'Jeep',
       'Fiat', 'Mazda', 'Peugeot', 'Toyota', 'Seat', 'Nissan', 'Suzuki',
       'Jaguar', 'Renault', 'Citroen', 'Kia', 'Cupra', 'Byd', 'Tesla',
       'Abarth', 'Saic', 'Mclaren', 'Ssangyong', 'Subaru', 'Lancia',
       'Mini', 'Chevrolet', 'Dodge', 'Bentley', 'Saab', 'Ds Automobiles',
       'Alpine', 'Ferrari', 'Hummer', 'Cadillac', 'Lamborghini', 'Isuzu',
       'Seres', 'Alpina', 'Infiniti', 'Chrysler', 'Ineos', 'Smart',
       'Karma', 'Lincoln'], dtype=object)

In [9]:
len(data['Make'].unique())

58